.node { cursor: pointer; } 
/*.node circle {stroke: steelblue; stroke-width: 1.5px; } */
.node text { font: 15px sans-serif; } 
.link { fill: none; opacity: 0.5;}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  /*height: 120px;                 */
  padding: 3px;             
  font: 12px sans-serif;        
  background: #D7D5CD;
  opacity: 0.5;  
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;
   
}

/* The footer always appears at the bottom of the browser window. */

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
    text-align: center;
}

/*.axis path,
.axis line {
  fill:'rgb(84,48,5)';
  stroke: 'rgb(84,48,5)';
  shape-rendering: crispEdges;
}*/