.node { cursor: pointer; } 
/*.node circle {stroke: steelblue; stroke-width: 1.5px; } */
.node text { font: 10px sans-serif; } 
.link { fill: none; opacity: 0.5;}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 120px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: #D7D5CD;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;
   
}

/* The footer always appears at the bottom of the browser window. */

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}
