<!DOCTYPE html>
<html>
<head>
  <title>Follow the Money: Congressional Money Trail</title>
	<script src="/static/javascript/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/javascript/d3.min.js"></script>
	<script src="/static/javascript/TrailMapTree.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
	<div id="fb-root"></div>

<script>
(function(d, s, id) {
	console.log("fb initialized")
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/en_US/all.js%23xfbml=1&status=0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

  {% block content %} put your content here 

{% endblock %}



</body>
</html>