<!DOCTYPE html>
<html>
<head>
  <title>Follow the Money: Congressional Money Trail</title>
	<script src="/static/javascript/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/javascript/d3.min.js"></script>
	<script src="/static/javascript/TrailMapTree.js"></script>

</head>

<body>

  {% block content %} put your content here 

{% endblock %}

<div class="row" id="footer">
    <p>Created by Corey Shott. Hackbright Academy Summer 2015</p>
</div>

</body>
</html>