<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Congressional Money Trail</title>

  <script src="/static/javascript/jquery-2.1.4.min.js"></script>
</head>

<body>
  
  {% if 'email' in session %}
    <a href='/logout' id="logout-link">Log Out</a>
  {% else %}
    <a href='/login' id="login-link">Log In</a> 
  {% endif %}
  

  <hr>

    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div id="flash-block">{{ message }}</div>
      {% endfor %}
    {% endwith %}

  {% block content %} put your content here {% endblock %}

</body>
</html>