<!DOCTYPE html>

<html>

<head>
    <title>Congressional Money Trail</title>

    <link rel="stylesheet" href="/static/css/homepage.css">
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <h1>Congressional Money Trail</h1>

        <p class="lead">Visualize Where Your Federal Representatives Get Their Campaign Money</p>

        <a href="/welcome" class="btn btn-lg btn-primary">Let's Go!</a>

    </div>
</div>

<footer>
    <p>Created by Corey Shott. Hackbright Academy Summer 2015</p>
</footer>

</body>
</html>
