<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Congressional Money Trail</title>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        

        <h1>Congressional Money Trail</h1>

        <p class="lead">??????</p>

        

    </div>
</div>

<footer>
    <p>Created by Corey Shott. Hackbright Academy Summer 2015</p>
</footer>

</body>
</html>
