{% extends 'base.html' %}
{% block content %}

<body>
<link href='https://fonts.googleapis.com/css?family=Alike+Angular' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/homepage.css">

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <h1>Congressional Money Trail</h1>

        <p class="lead">Visualize Where Your Federal Representatives Get Their Campaign Money</p>

        <h2><a href="/main"> <span class="glyphicon glyphicon-circle-arrow-right"></span> <br>
        	Enter Site TEST CHANGE</a></h2>
        <!-- <h2><a  href="/main"> Enter Site </a></h2> -->
        <!-- <a href="/main" class="btn btn-default btn-lg">Let's Go <span class="glyphicon glyphicon-arrow-right"></span> </a> -->
        <!-- <a href="/main" class="btn btn-lg btn-default">Enter Site</a> -->

    </div>
</div>

</body>

{% endblock %}
