{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="/static/css/main.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvOEtQIfXWSZq8tKg2S2RrHhOkikKxcY0&callback=initialize" async defer></script>
<script src="/static/javascript/get_members.js"></script>

<div class="container-fluid">

<div class="row navbar"> <button id="new_choice" style="display: none;">Map a new Member of Congress </button> 
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Click for info on data</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About the data used on this site</h4>
      </div>
      <div class="modal-body">
      Data from Center for Responsive Politics (opensecrets.org).  Campaign data is for election cycles since 1990.  
    	</div>
    </div>
  </div>
</div>

<button type="button" id="popover" class="btn btn-default" style="display: none;" data-container="body" data-toggle="popover" data-placement="bottom" data-content="You are looking at a visualization of campaign contributions for the Member of Congress shown on the left.  First you'll see the distribution how much the representative recieved from Political Action Committess (PACs) v. Individual donors.  Hover on a node to see more information and click on the nodes to follow the trail - the end will show the Top 10 Individual or PAC contributors.">
  What am I seeing?
</button>

</div>

<div class="row main">


<div id="sidebar" class="col-md-2">

	<form id="state_pick" method="post" action="/state_info.json">
	 
	  <label> Pick a state:</label>
	    <select name="state" id="state_value">
	    	<option> Choose a State </option>
	    {% for state in states %}
	      <option value="{{ state[0] }}"> {{ state[1] }} </option>
	    {% endfor %}  
	</select>
	</form>

	<div id="legislators_display" style="display: none;"> 

	<h2> Pick a Member to Map </h2>

	<form class='repsDistrict' method="get" action='/trail_map'> 
		<label>Select a Member of Congress: </label>
		
		<select name="member" class="member_choice" id="member_list">


	<input type="submit" id="submit_member" value="Map this Member">
	</form>
	</div>

	<div id="noMember" style="display: none;">Sorry, that seat is currently vacant or there is no data currently available for that Member of Congress. Please choose another state or enter an address</div>

<!-- find members by address form -->
<div id="pick_by_address"> OR 
	<form>
	<label>Enter Address to Find Your Members:</label>
		<input id="address" type="textbox">
		<input type="submit" id="submit_geocode" value="Find My Members of Congress">
	</form>
</div>


	<div id="your_district_reps" style="display: none;"> 
		<form class='repsDistrict' method="get" action='/trail_map'> 
			<label id="repsByAddress"> </label>
		
			<select name="member" class="member_choice" id="address_member_list">
			
			<input type="submit" id="submit_member" value="Map this Member">
		</form>

	</div>

</div>

<div id="map_viz" class="col-md-10" style="display: none;"> </div>

</div>
</div>

<script>

$('#myModal').modal("show");
//list possible representatives only after choose state.  
$("#state_pick").change("state_value", showLegislators);
$("#state_pick").change("state_value", function () {
	$("#noMember").hide();
})

// bind showing the TrailMapTree function call to the event named show map that is called after member choice is submitted (below)
$("#map_viz").bind("showMap", showTrailMapTree);

// send member_id to route that will send back info for member_profile NOT PICKING UP FORMS ANYMORE
$("form.repsDistrict").on("submit", function (evt) {

	evt.preventDefault();

	member = {'member': $('select.member_choice option:selected').val()};


	$.post("/trail_map", member, function (result){

		// show the map visualization div and trigger the function call to d3 j.s. of TrailMapTree
		$("#map_viz").show('slow', function () {

			 $(this).trigger('showMap');
		});

		$("#legislators_display").hide();
		$("#state_pick").hide();
		$("#pick_by_address").hide();
		$("#your_district_reps").hide();
		$("#new_choice").show();
		$("#sidebar").append(result);
		$('#popover').show();

	});
});

$("#new_choice").on("click", function (evt){
	$("#map_viz").empty();
	$("#state_pick").show();
	$('#state_pick').find('option:first').attr('selected', 'selected');
	$("#pick_by_address").show();
	$("#new_choice").hide();
	$("#member_profile").remove();
	$("#popover").hide();
})

$('#popoover').popover('hide');
$('#popover').on('click', function() {
	$('#popover').popover('toggle');
 })

</script>


{% endblock %}