{% extends 'base.html' %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/main.css">
<script src="/static/javascript/get_members.js"></script>

<div class="container-fluid">

	<div class="row main">
		<div class="col-md-2 infobar" id="sidebar">

			<div class="row forms">
				<div class="form-group">
					<form id="state_pick" method="post" action="/state_info.json">

					  <label> Pick a state:</label>
					    <select class="form-control" name="state" id="state_value">
					    	<option> Choose a State </option>
					    {% for state in states %}
					      <option value="{{ state[0] }}"> {{ state[1] }} </option>
					    {% endfor %}
					</select>
					</form>
				</div>

				<div id="legislators_display" class="form-group" style="display: none;">

					<form class='repsDistrict' method="get" action='/trail_map'>
						<label>Select a Member of Congress: </label>

						<select name="member" class="member_choice form-control" id="member_list">

						</select>

						<input type="submit" class="btn btn-default" id="submit_member" value="Map this Member">
					</form>
				</div>

				<!-- find members by address form -->
				<div id="pick_by_address" class="form-group">
					<form id="address_pick" method="post" action="/address_search">

						<label> Or....<br> Enter Address to Find Congressional Delegation </label>
						<input id="address" type="textbox" class="form-control" placeholder="Address">
						<input type="submit" class="btn btn-default" id="submit_geocode" value="Find My Delegation">
					</form>
				</div>


				<div id="your_district_reps" class="form-group" style="display: none;">
					<form class='repsDistrict' method="get" action='/trail_map'>
						<label id="repsByAddress"> </label>

						<select name="member" class="member_choice form-control" id="address_member_list">

						<input type="submit" class="btn btn-default" id="submit_member" value="Map this Member">
					</form>

				</div>

				<div id="noMember" class="bg-danger" style="display: none;"><span class="glyphicon glyphicon-exclamation-sign"></span> Sorry, that seat is currently vacant or there is no data currently available for that Member of Congress. Please choose another state/district or enter another address.
				</div>

			</div>

			<div class="row member_profile">
				<div class="row new_member">

			 		<button type="button" class="btn btn-default" id="new_choice" style="display: none;"> <span class="glyphicon glyphicon-edit"></span>  Map a new legislator </button>
				</div>

			</div>

				<img id="logo" src="/static/img/logo.png"><img>

		</div>

		<div>
<!-- 		visualization area -->
		<div id="map_viz" class="col-md-10 main" style="display: none;"> </div>

		<!-- expanding Sidebar -->
		<div id="wrapper">

	      <div id="sidebar-wrapper">
	      <ul id="sidebar_menu" class="sidebar-nav">
	           <li class="sidebar-brand"><a id="menu-toggle" href="#"><span id="main_icon" class="glyphicon glyphicon-question-sign"></span>More Info</a></li>
	      </ul>
	        <ul class="sidebar-nav" id="sidebar">
	          <li><a id="dataButton" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="dataInfo"><span class="sub_icon glyphicon glyphicon-stats"></span>The data</a></li>

	        	<div id="dataInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      		<div class="panel-body">
		        		Congressional Money Trail utilizes congressional campaign data from the <a href="http://www.opensecrets.org" target="new">Center for Responsive Politics (OpenSecrets.org)</a>. <br> Contribution figures are only for contributions directly to a Member's campaign from the two types of givers.  Totals go back to 1994 and amounts vary depending on how long a Member of Congress has been in office. <br> Biographical information on Members of Congress was accessed through the <a href="https://sunlightlabs.github.io/congress/" target="new">Sunlight Foundation's CongressAPI </a>.  A big thanks to both incredible organizations for opening up access to their data.
		      		</div>
				</div>

	          <li><a id="graphButton" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="mapInfo"><span class="sub_icon glyphicon glyphicon-info-sign"></span>The graphic</a></li>

	           <div id="graphInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        The graphic rendered on this page is a visualization of campaign contributions for the selected Member of Congress. <br>  The first layer is the distribution how much the Member of Congress recieved from Political Action Committess (PACs) v. Individual donors. <br> Hover on a node to see more information and click on the nodes to follow the trail - the end will show the Top 10 Individual or PAC contributors.
			      </div>
    			</div>


	          <li><a id="siteButton" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="siteInfo"><span class="sub_icon glyphicon glyphicon-globe"></span>The site</a></li>
	        	<div id="siteInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      		<div class="panel-body">
		        		This site was created by Corey Shott, as her final project for <a href="https://hackbrightacademy.com/" target="new">Hackbright Academy</a> in Summer 2015. You can find out more about Corey and see the code for this project on her  <a href="http://www.github.com/jcshott" target="new">Github</a> page.
		      		</div>
				</div>
	        </ul>

	      </div>

	    </div>

	</div>

</div>

</div>


<script>
// Google autocomplete on address search form
var placeSearch, autocomplete;

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('address')),
      {types: ['address']});
}

// info sidebar toggle
$("#menu-toggle").click(function(e) {
	e.preventDefault();

	$("#wrapper").toggleClass("active");

    if ($('#dataButton').attr("href")) {
        $('#dataButton').removeAttr("href");
    } else {
        $('#dataButton').attr("href", "#dataInfo");
    };

    if ($('#graphButton').attr("href")) {
        $('#graphButton').removeAttr("href");
    } else {
        $('#graphButton').attr("href", "#graphInfo");
    };

    if ($('#siteButton').attr("href")) {
        $('#siteButton').removeAttr("href");
    } else {
        $('#siteButton').attr("href", "#siteInfo");
    };

});

// accordion toggle in info
$('.collapse').collapse("toggle");

//list possible representatives only after choose state.
$("#state_pick").change("state_value", showLegislators);
$("#state_pick").change("state_value", function () {
	$("#noMember").hide();
});

$("#address_pick").on("submit", SearchByAddress);

// bind showing the TrailMapTree function call to the event named show map
//that is called after member choice is submitted (below)
$("#map_viz").bind("showMap", showTrailMapTree);

// send member_id to route that will send back info for member_profile
$("form.repsDistrict").on("submit", function (evt) {

	evt.preventDefault();

	member = {'member': $('select.member_choice option:selected').val()};

	$.post("/trail_map", member, function (result){
		console.log("ajax call")
		// show the map visualization div and trigger the function call to d3 j.s. of TrailMapTree
		$("#map_viz").show('slow', function () {

			 $(this).trigger('showMap');
		});

		$("#legislators_display").hide();
		$("#state_pick").hide();
		$("#pick_by_address").hide();
		$("#your_district_reps").hide();
		$("#new_choice").show();
		$(".forms").append(result);

	});
});

$("#new_choice").on("click", function (evt){
	$("#map_viz").empty();
	$("#state_pick").show();
	$('#state_pick').find('option:first').attr('selected', 'selected');
	$("#pick_by_address").show();
	$("#new_choice").hide();
	$("#member_profile").remove();

});

// twitter functionality
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5Z7gICmKng7w9wWaYIwI7omuUmP6jzds&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
<script src="http://spin.js.org/spin.js"></script>
{% endblock %}
