<div id="member_profile">
	
	<img src="{{member_info.pict_link}}" style="width: 100px;" class="img-rounded"> </img>
	The Honorable {{member_info.get("first")}} {{member_info.get("last")}}  <br>
	{% if member_info.get("party") == "D" %}
	Democrat<br>
	{% elif member_info.get("party") == "I" %}
	Independent <br>
	{% else %}
	Republican<br>
	{% endif %}

	{% if member_info.get("chamber") == "Senate" %}
	U.S. Senate<br>
	{% set abbr = member_info.get("state") %}
	
	{{states.get(abbr) }} {{member_info.get("sen_rank")[:6]}} Senator<br>

	
	{% else %}
	
	{% set abbr = member_info.get("state") %}
	U.S. House of Representatives<br>
	{{ states.get(abbr) }} District: {{member_info.get("district")}} <br>
	
	{% endif %}

	First elected: {{member_info.first_elected}}<br>
	Official Website: <a href="{{member_info.off_website}}" target="new">{{member_info.off_website}}<br>
	<a href="http://www.twitter.com/{{member_info.twitter_id}}" target="new">Follow on Twitter</a><br>
	<a href="http://www.facebook.com/{{member_info.facebook_id}}" target="new">Follow on Facebook</a> <br>


  		
</div>

