{% extends 'base.html' %}
{% block content %}
<style> .node { cursor: pointer; } 
.node circle { fill: #fff; stroke: steelblue; stroke-width: 1.5px; } 
.node text { font: 10px sans-serif; } 
.link { fill: none; stroke: #ccc; stroke-width: 1.5px; } 
</style>



<div id="map_viz"> DIV for D3 VISUAL</div>

<div id="sidebar">SIDEBAR of MEMBER INFO
	{{member_info.get("title")}}. {{member_info.get("first")}} {{member_info.get("last")}} ({{member_info.get("party")}}) <br>
	{% if member_info.get("chamber") == "Senate" %}
	
	{{member_info.get("state")}}: {{member_info.get("sen_rank")}} <br>
	
	{% else %}
	
	{{member_info.get("state")}}: District: {{member_info.get("district")}} <br>
	{% endif %}


</div>
<script src="/static/javascript/d3.min.js"></script>
<script src="/static/javascript/TrailMapTree.js"></script>
{% endblock %}