{% extends 'base.html' %}
{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvOEtQIfXWSZq8tKg2S2RrHhOkikKxcY0&callback=initialize" async defer></script>
<!-- <script src="/static/javascript/geocode.js"></script> -->

<div id="pick_by_state">
<form id="state_pick" method="post" action="/state_info.json">
 
  <label> Pick a state:</label>
    <select name="state" id="state_value">
    	<option> Choose a State </option>
    {% for state in states %}
      <option value="{{ state[0] }}"> {{ state[1] }} </option>
    {% endfor %}  
</select>
</form>

<div id="legislators_display" style="display: none;"> 

<h2> Pick a Member to Map </h2>

<form id="member_list" method="get" action='/trail_map'> 
	<label>Pick a Member of Congress: </label>
	
	<select name="member" id="member_choice">
		<option >Senators</option>
		<option id="sen1"> </option>
		<option id="sen2"> </option>
		<option >House Members </option>


<input type="submit" id="submit_member" value="Map this Member">
</form>
</div>
</div>

<div id="pick_by_address"> OR 
	<form>
	<label>Enter Address to Find Your Members:</label>
		<input id="address" type="textbox">
		<input type="submit" id="submit_geocode" value="Find My Members of Congress">
	</form>
<script>

var geocoder

function initialize() {
	console.log("initialized")
	geocoder = new google.maps.Geocoder();
	document.getElementById('submit_geocode').addEventListener('click', function(evt) {
		evt.preventDefault();
    geocodeAddress(geocoder);
});
}

function geocodeAddress(geocoder) {
  
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {

      // console.log(results[0].geometry.location);
      // console.log(results[0].geometry.location.G);
      // console.log(results[0].geometry.location.K);
// NEED to set up ajax request to get the info and send back into a div that shows members names, title, party.
      // latitude = results[0].geometry.location.G
      // longitude = results[0].geometry.location.K

      // $.post("/address_search", state_value, function (result) {

      // }

    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

// use Ajax to get show dropdown of the legislators from the selected state
function showHouseMembers(evt) {

	evt.preventDefault();


	//post request takes a dictionary so send key/value pair of the key I want to get 
	state_value = {'state_value': $("#state_value").val()};

	//ajax that sends the state selected and gets back the json values id'd on server.
	//parse and put into the dropdown menu. assigning the leg_id to the value of the selection so can grab that on server side to query for contribution information.

	$.post("/state_info", state_value, function (result) {
			if (result.senators) {
				$'#member_choice').append()
				$('#member_choice').append($("<option class=house></option>").val(sorted_reps[i].leg_id).text(sorted_reps[i].title + ". " + sorted_reps[i].first + " " + sorted_reps[i].last + " (" + sorted_reps[i].party + district + ")")); 
			}

			

			// $("#sen1").attr("value", result.senator1.leg_id).html(result.senator1.title + ". " + result.senator1.first + " " +result.senator1.last + " (" + result.senator1.party +")");

			// $("#sen2").attr("value", result.senator2.leg_id).html(result.senator2.title + ". " + result.senator2.first + " " +result.senator2.last + " (" + result.senator2.party +")");

		var representatives = result.representatives
		
		// thanks stack overflow
		function SortByDistrict(a, b){
		  var aDist = a.district;
		  var bDist= b.district; 
		  return ((aDist < bDist) ? -1 : ((aDist > bDist) ? 1 : 0));
		};

		var sorted_reps = representatives.sort(SortByDistrict);

		$('option.house').remove();
		// define special case for at-large (no district, only house member)
		for (var i in sorted_reps){
			console.log("in loop")
			if (sorted_reps[i].district === 0) {
				district = " - At-Large"
			} else {
				district = " - " + sorted_reps[i].district
			};
				
			// cycle through list of representatives returned, to pull relevant info out & put in drop-down menu
			
			$('#member_choice').append($("<option class=house></option>").val(sorted_reps[i].leg_id).text(sorted_reps[i].title + ". " + sorted_reps[i].first + " " + sorted_reps[i].last + " (" + sorted_reps[i].party + district + ")")); 

			};
		});
		
		$("#legislators_display").show();

	}

//list possible representatives only after choose state.	
$("#state_pick").change("state_value", showHouseMembers);


</script>
{% endblock %}