{% extends 'base.html' %}
{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvOEtQIfXWSZq8tKg2S2RrHhOkikKxcY0&callback=initialize" async defer></script>
<script src="/static/javascript/get_members.js"></script>

<div id="pick_by_state">
<form id="state_pick" method="post" action="/state_info.json">
 
  <label> Pick a state:</label>
    <select name="state" id="state_value">
    	<option> Choose a State </option>
    {% for state in states %}
      <option value="{{ state[0] }}"> {{ state[1] }} </option>
    {% endfor %}  
</select>
</form>

<div id="legislators_display" style="display: none;"> 

<h2> Pick a Member to Map </h2>

<form id="member_list" method="get" action='/trail_map'> 
	<label>Select a Member of Congress: </label>
	
	<select name="member" id="member_choice">


<input type="submit" id="submit_member" value="Map this Member">
</form>
</div>
</div>

<div id="pick_by_address"> OR 
	<form>
	<label>Enter Address to Find Your Members:</label>
		<input id="address" type="textbox">
		<input type="submit" id="submit_geocode" value="Find My Members of Congress">
	</form>

<div id="your_district_reps" style="display: none;"> Your Congressional Delegation (choose one):
	<p> Senate </p>
	<form class='repsDistrict' id="sen1" method="get" action='/trail_map' style="display: none;">
		<!-- in j.s. I'll have the values for this correspond to legislator_id I need to query & name of member -->
		<input id="sen1id" type="hidden" name="member">
		<input class="senator" type="submit" value="Map this Member">
		<label id="sen1name"></label>
	</input>
	</form>
	<form class='repsDistrict' id="sen2" method="get" action='/trail_map' style="display: none;">
		<!-- in j.s. I'll have the values for this correspond to legislator_id I need to query & name of member -->
		<input id="sen2id" type="hidden" name="member">
		<input class="senator" type="submit" value="Map this Member">
			<label id="sen2name"></label>
		</input>
	<p> House </p>
	</form>
		<form class='repsDistrict' id="rep" method="get" action='/trail_map' style="display: none;">
		<!-- in j.s. I'll have the values for this correspond to legislator_id I need to query & name of member -->
		<input id="repId" type="hidden" name="member">
		<input class="representative" type="submit" value="Map this Member">
			<label id="repName"></label>
		</input>
	</form>

</div>	

<script>

//list possible representatives only after choose state.  
$("#state_pick").change("state_value", showLegislators);
</script>
{% endblock %}